@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    max-width: 50%;
    margin: 0 auto;
    background-color: rgb(31, 31, 31);
    color: rgb(255,255,255);
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(255,255,255);
}

h1, h2{
    text-transform: uppercase;
    color: rgb(247, 244, 96);
}
nav{
    height: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
nav ul {
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
nav ul li {
    display: inline;
    padding: 0 10px;
}



section{
    height: 100px;
}